RewriteEngine on

php_value max_input_vars 300000
php_value suhosin.get.max_vars 300000
php_value suhosin.post.max_vars 300000
php_value suhosin.request.max_vars 300000

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]